*
{
	margin: 0;
	padding:0;
	overflow:hidden;
	list-style-type: none;
	text-decoration: none;
}

nav
{
	width:100%;
	height: 80px;
	background:linear-gradient(#0f0c29,#302b63,#24243e);
	justify-content: center;
	
}
.nav h1
{
	text-align: center;
	line-height: 70px;
	color:white;
	font-size: 30px;
	font-weight: 400;
	font-family:cursive,'san-sarif';
}
.sidebars
{
	position: fixed;
	/*left:-250px;*/
	left:0;
	width:250px;
	height:100%;
	background:#042331;
	transition: all .5s ease;
}
.sidebars header
{
	font-size:22px;
	color:white;
	text-align: center;
	line-height: 70px;
	background:#063146;
	user-select: none;
	text-shadow: 1px 1px 1px lavender,
	1.1px 1.2px 1.2px lavender;
}
.sidebars ul a
{
	display:block;
	height:100%;
	width:100%;
	line-height: 65px;
	font-size: 20px;
	color:white;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
}
ul li:hover a
{
	padding-left: 50px;
}

section
{
	background: linear-gradient(#000000,#434343);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.des
{
	box-shadow: 12px 12px 13px black;
	width:40%;
	height:auto;
	margin-top:200px;
	margin-left:600px;
	border-radius: 10px;
	border-top:1px solid black;
	border-left:1px solid black;
	transition: all 1s ease;
	background: white;
	
}
.des:hover
{
	transform: scale(1.2);
}
.des p
{
	font-family:cursive;
	font-size: 24px;
	font-weight: 800;
	padding:20px 30px 20px 30px;
}
@media(min-width:320px) and (max-width: 375px)
{
	*
	{
		width: 100%;
		overflow: hidden;
	}
	nav
	{
		width:100%;
		height:80px;
	}
	.nav h1
	{
	color:white;
	font-size:20px;
	
	}
	.sidebars
	{
		width:100%;
		background-color:#042441;
		height:auto;
		
	}
	.sidebars header
	{
		background-color:#042331;
		color:white;
		font-size: 15px;
		border-bottom: 1px solid white;
	}
	.sidebars ul 
	{

		display:table;
		list-style-type: none;
		
		padding-left:10px;
		line-height:2px;
		height:auto;
	}
	.sidebars li
	{
		display:table;
	}
	.sidebars ul li a
	{
		
		font-size: 12px;
		line-height:2px;
		float: left;
		color:white;
		padding-top:10px;
		padding-left:2px;
		
		border-top:none;
		border-bottom:none;

	}



}